@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: #EBE8E4;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto", sans-serif;
}

h3, p {
    margin-left: 25px;
    font-size: 24px;
}

.wip-symbol {
    margin: 30px;
    font-size: 120pt !important;
}

footer {
    background-color: transparent;
    text-align: center;
}