@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: #EBE8E4;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto", sans-serif;
}

.header_text {
    height: 380px;
    width: 590px;
    float: right;
    text-align: center;
}

.login-page {
    width: 960px;
    padding-top: 100px;
    margin: auto;
}

.form {
    float: left;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-sizing: border-box;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input[type="submit"] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    min-width: 100px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.form input[type="submit"].btn-login {
    background-color: transparent;
    border: 2px solid #5cb85c;
    color: #000;
}

.form input[type="submit"].btn-login:hover {
    background-color: transparent;
    border: 2px solid #449d44;
    color: #000;
}

.form input[type="submit"].btn-register {
    background-color: transparent;
    border: 2px solid #2e6da4;
    color: #000;
}

.form input[type="submit"].btn-register:hover {
    background-color: transparent;
    border: 2px solid #204d74;
    color: #000;
}

.form .register-form {
    display: none;
}

footer {
    background-color: transparent;
    text-align: center;
}