body {
    background: #EBE8E4;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto", sans-serif;
}

.form {
    position: relative;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    margin: 22px;
}

.course-table {
    margin: 0 auto;
    max-width: 300px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 50%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input[type="submit"] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    min-width: 100px;
    padding: 15px;
    background-color: transparent;
    border-color: #4cae4c;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
}

.form input[type="submit"].btn-add {
    background-color: transparent;
    border: 2px solid #2e6da4;
    color: #000;
}

.form input[type="submit"].btn-add:hover {
    background-color: transparent;
    border: 2px solid #204d74;
    color: #000;
}

.form input[type="submit"].btn-del {
    background-color: transparent;
    border: 2px solid #d9534f;
    color: #000;
}

.form input[type="submit"].btn-del:hover {
    background-color: transparent;
    border: 2px solid #c9302c;
    color: #000;
}

.form input[type="submit"]:hover {
    background-color: transparent;
    border: 2px solid #5cb85c;
    color: #000;
}