body {
    background: #EBE8E4;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto", sans-serif;
}

.form {
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    margin: 22px;
    height: 700px;
}

.outLabel {
    display: block;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input[type="text"] {
    width: 300px;
}

.form input[type="password"] {
    width: 300px;
}

.form input[type="submit"] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    min-width: 100px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
}

.form input[type="submit"].btn-add {
    background-color: transparent;
    border: 2px solid #5cb85c;
    color: #000;
    float: right;
    margin-right: 50px;
}

.form input[type="submit"].btn-add:hover {
    background-color: transparent;
    border: 2px solid #449d44;
    color: #000;
}